@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ece5f0;
  text-decoration: none;
}

li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #fab520;
  margin: auto;
  display: block;
  margin-top: 4px;
}

li a:hover::after {
  width: 100%;
  transition: 0.3s;
}

li a:hover {
  color: white;
}

header {
  background-color: #2086d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
}

.img-logo {
  width: 30px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.titulo-la {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
}

nav {
  cursor: default;
}

.nav-links {
  list-style: none;
  margin-top: 4px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: white;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #fab520;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.301);
}

.container {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  margin-top: 50px;
  height: 500px;
  justify-content: center;
  padding-left: 4%;
}
.titulo-home {
  font-size: 4em;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: auto;
  text-align: center;
  align-items: center;
}

.texto-home {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  display: inline-block;
  width: 450px;
  text-align: center;
  padding-top: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: normal;
}

.container-2 {
  width: 50%;
  float: left;
  height: 572px;
  text-align: center;
  padding-right: 4%;
}

.imagem-home {
  width: 88%;
}

.home {
  background-color: #2086d0;
  height: 622px;
}

.foto-sobre-mim {
  width: 50%;
  display: inline-block;
  height: 700px;
  text-align: center;
  padding-top: 6%;
  float: left;
}

.foto-ruan {
  width: 400px;
  border-radius: 50%;
}

.nome-ruan {
  font-family: "Montserrat", sans-serif;
  color: #0D0221;
  padding-top: 20px;
  font-size: 45px;
}

.texto-nome-ruan {
  font-family: "Montserrat", sans-serif;
  color: #0D0221;
  font-size: 20px;
  padding-top: 7px;
}

.sobre-ruan {
  background-color: #FAB520;
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto-sobre-instrutor {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 35px;
}

.div-formacao {
  width: 500px;
  height: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.texto-formacao {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 23px;
  width: 240px;
  text-align: center;
  font-weight: 400;
  display: inline-block;
}

span {
  font-size: 30px;
  font-weight: bold;
}

.texto-sobre-ruan {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  width: 600px;
  text-align: center;
}