@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.curso-basico__title-and-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.curso-basico__img {
  width: 100px;
  margin: 0 12px 0 0;
}

.curso-basico__title {
  font-size: 30px;
  display: inline-block;
}

.curso-basico__paragraph {
  font-size: 16px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

.classes {
  background-color: #2086d0;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classes__title {
  font-size: 25px;
  text-align: center;
  margin: 5%;
}

.classes__card {
  background-color: rgb(241, 241, 241);
  color: #0d0221;
  border-radius: 5%;
  height: 310px;
  width: 300px;
  padding: 4%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classes__card--title {
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}

.classes__card--p {
  margin: 7px;
}
