@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.curso-basico__title-and-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
  text-align: center;
}

.curso-basico__img {
  width: 100px;
  margin: 0;
}

.curso-basico__title {
  font-size: 30px;
  display: inline-block;
  padding-top: 20px;
}

.curso-basico__paragraph {
  font-size: 16px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.classes {
  background-color: #2086d0;
  color: #ffff;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  height: 445px;
}

.classes__title {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.classes__card {
  background-color: #f1f1f1;
  color: #0d0221;
  border-radius: 6%;
  height: 320px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classes__card--title {
  font-size: 25px;
  line-height: 42px;
  text-align: center;
}

.classes__card--p {
  margin: 7px;
  font-size: 16px;
  width: 220px;
  text-align: center;
}

.slider {
  width: 400px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: none;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#mod-1:checked ~ .cards #c4,
#mod-2:checked ~ .cards #c1,
#mod-3:checked ~ .cards #c2,
#mod-4:checked ~ .cards #c3 {
  transform: translateX(-28%) scale(0.8);
  opacity: 0.7;
  z-index: 0;
}
#mod-1:checked ~ .cards #c2,
#mod-2:checked ~ .cards #c3,
#mod-3:checked ~ .cards #c4,
#mod-4:checked ~ .cards #c1 {
  transform: translateX(30%) scale(0.8);
  opacity: 0.7;
  z-index: 0;
}
#mod-1:checked ~ .cards #c1,
#mod-2:checked ~ .cards #c2,
#mod-3:checked ~ .cards #c3,
#mod-4:checked ~ .cards #c4 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#mod-1:checked ~ .cards #c3,
#mod-2:checked ~ .cards #c4,
#mod-3:checked ~ .cards #c1,
#mod-4:checked ~ .cards #c2 {
  transform: translateX(0) scale(0);
  opacity: 0;
  z-index: 0;
}

.benefits {
  margin: 7%;
}

.benefits__title {
  font-size: 25px;
  width: 200px;
  max-width: 200px;
}

.benefits__div {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.benefits__num {
  display: inline-block;
  padding-right: 12px;
}

.benefits__p {
  display: inline-block;
  width: 250px;
}

.benefits__button {
  display: flex;
  justify-content: center;
}

.home__button a {
  color: #ffff;
}

.curso-basico__img-alunos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.curso-basico__students-img {
  position: relative;
  z-index: 1;
}
.curso-basico__text {
  z-index: 2;
  position: absolute;
  width: 410px;
}

@media (min-width: 680px) and (max-width: 1024px) {
  .curso-basico__text {
    width: 700px;
  }

  .benefits__title {
    margin-left: 20%;
  }
}

@media (min-width: 1025px) {
  .curso-basico__title-and-img {
    display: inline-block;
  }

  .curso-basico__paragraph {
    display: inline-block;
  }

  .classes {
    display: inline-block;
  }

  .top-navbar__drop-menu-and-links {
    display: none;
  }
}
